@using MathMindCare.Models;

@model MathMindCare.Models.ChildProfile
@{
    ChildProfile result = Model;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Child Management System</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
        }

        #container {
            width: 80%;
            margin: 20px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        /*         input[type="text"],
                                        input[type="password"],
                                        button[type="button"] {
                                            width: 100%;
                                            padding: 10px;
                                            margin-bottom: 10px;
                                            border: 1px solid #ccc;
                                            border-radius: 3px;
                                            box-sizing: border-box; */
        }

        .input-label {
            margin-bottom: 5px; /* Adjust this value as needed */
            display: block;
        }

        .input-field, input[type="text"] {
            margin-bottom: 10px; /* Adjust this value as needed */
            display: block;
            box-sizing: border-box;
            border: 1px solid #ccc;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            font-weight: bold;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        tr:hover {
            background-color: #dddddd;
        }

        .child {
            margin-bottom: 10px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f9f9f9;
        }

            .child input[type="text"], .child select {
                width: 100%;
                padding: 5px;
                margin-bottom: 5px;
            }

        .btn {
            
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 6px;
            cursor: pointer;
        }

            .btn:hover {
                background-color: rgb(27, 110,180);
            }

        .topnav {
            overflow: hidden;
            background-color: #e9e9e9;
        }





        .searchbtn {
            float: right;
            padding: 6px;
            border: none;
            margin-top: 8px;
            margin-right: 16px;
            font-size: 17px;
        }

        .searchtext {
            float: right;
            padding: 6px;
            border: none;
            margin-top: 8px;
            margin-right: 16px;
            font-size: 17px;
        }

        .topnav input[type=text] {
            border: 1px solid #ccc;
        }

        }
    </style>
    <script src="~/js/addchild.js"></script>

</head>
<body style="background-image: url('/img/bgmaths.jpg');background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;">
    <div id="container">

        <input type="hidden" id="hdnChildID" value=@Model.CHILDID />
        <h2>Child Information Entry </h2>
        <div class="child">
            <div class="row">
                <div class="col-sm-12">
                    <label class="input-label" for="txtname">Name:<span style="color: red;">*</span></label>
                    <input class="input-field" value="@Model.NAME" type="text" id="txtname" required>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label class="input-label" for="txtDOB">Date of Birth:<span style="color: red;">*</span></label>
                    <input class="input-field" value="@Model.DOB" type="date" id="txtDOB" style="width:100%" min="2011-01-01"
                           max="2018-12-31">
                </div>
                <div class="col-sm-3">


                    <label class="input-label" for="ddlgender">Gender:<span style="color: red;">*</span></label>
                    <select class="input-field" id="ddlgender">
                        @{
                            //c sharp
                            var sel1 = "";
                            var sel2 = "";
                            var sel0 = "";
                            var m = "1";
                            var w = "2";
                            var o = "0";
                            if (@Model.GENDER.ToString() == m)
                            {
                                <option value="1" selected="selected">Male</option>
                            }
                            else
                            {
                                <option value="1" sel1>Male</option>
                            }
                            if (@Model.GENDER.ToString() == w)
                            {
                                <option value="2" selected="selected">Female</option>
                            }
                            else
                            {
                                <option value="2" sel1>Female</option>
                            }
                            if (@Model.GENDER.ToString() == o)
                            {
                                <option value="0" selected="selected">Others</option>
                            }
                            else
                            {
                                <option value="0" sel1>Others</option>
                            }


                        }
                    </select>
                </div>

                <div class="col-sm-3">


                    <label class="input-label" for="ddlAge">Age Category:<span style="color: red;">*</span></label>
                    <select class="input-field" id="ddlAge">
                        @{
                            if (@Model.AGECATEGORY.ToString() == "1")
                            {
                                <option value="1" selected="selected">6 to 8 years</option>
                            }
                            else
                            {
                                <option value="1">6 to 8 years</option>
                            }
                            if (@Model.AGECATEGORY.ToString() == "2")
                            {
                                <option value="2" selected="selected">9 to 13 years</option>
                            }
                            else
                            {
                                <option value="2">9 to 13 years</option>
                            }
                        }

                    </select>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label class="input-label" for="txtaddress">Address:<span style="color: red;">*</span></label>
                    <textarea class="form-control textarea3column" maxlength="500" id="txtaddress">@Model.ADDRESS</textarea>
                    @* <textarea id="txtaddress" rows="5" cols="56">@Model.ADDRESS</textarea> *@
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="input-label" for="txtPhone">Contact Number:<span style="color: red;">*</span></label>
                            <input class="input-field" value="@Model.PHNO" type="text" id="txtPhone">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="input-label" for="txtemail">Email:<span style="color: red;">*</span></label>
                            <input class="input-field" value="@Model.EMAIL" type="text" id="txtemail">
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" style="text-align:right; ">
                <button onclick="JSAddChild()" class="btn" style="background-color: rgb(27, 110,194);">Save</button>
            </div>
        </div>


        <div>
            <h2>Manage Child Information</h2>
        </div>

        <div class="topnav">
            <button type="button" class="searchbtn" onclick="SearchChild()">Search</button>

            <input type="text" class="searchbtn" id="txtSearch" value="@Model.SEARCHSTR" placeholder="Search..">
        </div>

        <table>
            <tr><th>Name</th><th>Address</th><th>Phone</th><th>DOB</th><th>Email</th></tr>
            @foreach (ChildProfile u in result.childProfileList)
            {
                <tr>
                    <td>@u.NAME</td>
                    <td>@u.ADDRESS</td>
                    <td>@u.PHNO</td>
                    <td>@u.DOB</td>
                    <td>@u.EMAIL</td>
                    <td><button class="btn" onclick="JSEditChild(@u.CHILDID)" style="background-color:#F5783A">Edit</button></td>
                    <td><button class="btn" onclick="JSQuestionnare(@u.CHILDID)" style="background-color: #28B463">Test</button></td>
                    <td><button class="btn" onclick="LoadChat(@u.CHILDID)" style="background-color:#67C9F1">Chat</button></td>
                   
                    @* #79F681 *@

                </tr>
            }

        </table>

    </div>


</body>

<script type="text/javascript">
    function LoadChat(ChildID) {
        window.location.href = '/Home/Messages?ID=' + ChildID;

    }

</script>


</html>
